記得要先把資料集上傳到Colab才能正常執行!

In [ ]:
import pandas as pd
data = pd.read_csv('/content/join_database_w_definitions.csv',skiprows=3) #載入資料並省略前三列標頭

,Country Name,Country Code,Region Code,Subsample,Income Level Name,Income Level Code,Year of survey,Survey Data Source,Survey Type,Total population,...,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
0,Afghanistan,AFG,SAS,All,Low income,LIC,2003,AFG_2003_I2D2_NRVA.dta,I2D2,9530298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,SAS,All,Low income,LIC,2007,AFG_2007_I2D2_NRVA_V01_M_V02_A.dta,I2D2,24967746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,SAS,All,Low income,LIC,2011,AFG_2011_I2D2_NRVA_V01_M_V02_A.dta,I2D2,26954796,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,SAS,All,Low income,LIC,2013,AFG_2013_I2D2_ALCS.dta,I2D2,28020221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,SSF,All,Lower middle income,LMC,2000,AGO_2000_I2D2_IDR.dta,I2D2,5398976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14591,South Africa,ZAF,SSF,All,Upper middle income,UMC,2018,zaf_2018_qlfs_v01_m_v06_a_gld_all.dta,qlfs,56600492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14598,South Africa,ZAF,SSF,All,Upper middle income,UMC,2019,zaf_2019_qlfs_v01_m_v06_a_gld_all.dta,qlfs,57314175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14607,South Africa,ZAF,SSF,All,Upper middle income,UMC,2020,zaf_2020_qlfs_v02_m_v05_a_gld_all.dta,qlfs,58060431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14616,Zambia,ZMB,SSF,All,Lower middle income,LMC,2015,zmb_2015_lcms-vii_v01_m_v04_a_gmd.dta,lcms-,15403570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14626,Zimbabwe,ZWE,SSF,All,Low income,LIC,2017,zwe_2017_pices_v01_m_v01_a_gmd.dta,pices,13119624,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.columns.values #所有column的名稱

array(['Country Name', 'Country Code', 'Region Code', 'Subsample',
       'Income Level Name', 'Income Level Code', 'Year of survey',
       'Survey Data Source', 'Survey Type', 'Total population',
       'Children, aged 0-14', 'Youth, aged 15-24', 'Adult, aged 25-64',
       'Elderly, aged 65+', 'Urban Population (% of total Population)',
       ' Working Age Population, aged 15-64 (% of total Pop.)',
       'Dependency Rate, all compared to 15-64',
       'Youth Dependency Rate, younger than 15 compared to 15-64',
       'Old Age Dependency Rate, older than 64 compared to 15-64',
       'Labor Force, aged 15-64',
       'Labor Force Participation Rate, aged 15-64',
       'Female Labor Force Participation Rate, aged 15-64',
       'Not in labor force or education rate among youth, aged 15-24',
       'Share of workers (aged 15-64) with more than one jobs in last week',
       'Employment to Population Ratio, aged 15-64',
       'Employment Rate, aged 15-64 ', 'Unemployment Rate, aged 15-64',
       'Youth Employment Rate, aged 15-24',
       'Youth Unemployment Rate, aged 15-24',
       'Wage employees, aged 15-64 ', 'Self-employed, aged 15-64',
       'Unpaid, aged 15-64', 'Employers, aged 15-64',
       'Unpaid or Self-employed, age 15-64',
       'Share of informal jobs, aged 15-64', 'Share of work contract',
       'Share of health insurance', 'Share of social security',
       'Public sector employment, aged 15-64', ' Agriculture, aged 15-64',
       ' Industry, aged 15-64', ' Services, aged 15-64',
       'Mining, aged 15-64', 'Manufacturing, aged 15-64',
       'Electricity and utilities, aged 15-64',
       'Construction, aged 15-64', 'Commerce, aged 15-64',
       'Transport & Communication, aged 15-64',
       'Financial and Business Services, aged 15-64',
       'Public Administration, aged 15-64', 'Other services, aged 15-64',
       ' Female in non-agricultural employment, aged 15-64',
       'Youth in non-agricultural employment, aged 15-64',
       'Non-Agricultural wage employment, aged 15-64',
       'Non-Agricultural unpaid employment, aged 15-64',
       'Non-Agricultural employer, aged 15-64',
       'Non-Agricultural self-employed, aged 15-64',
       'Youth Non-Agricultural wage employment, aged 15-24',
       'Wage employment in agriculture, aged 15-64',
       'Wage employment in industry, aged 15-64',
       'Wage employment in services, aged 15-64',
       ' Senior Officials, aged 15-64', ' Professionals, aged 15-64',
       ' Technicians, aged 15-64', ' Clerks, aged 15-64',
       ' Service and Market Sales, aged 15-64',
       ' Skilled Agriculture, aged 15-64', ' Craft Workers, aged 15-64',
       ' Machine Operators, aged 15-64',
       ' Elementary Occupations, aged 15-64', ' Armed Forces',
       'Average weekly working hours',
       'Underemployment, <35 hours per week',
       'Excessive working hours,>48 hours per week',
       'Median Earnings for wage workers per hour, local nominal currency',
       'Median Earnings for wage workers per month, local nominal currency',
       'Median Earnings for wage workers per month in agriculture, local nominal currenc',
       'Median Earnings for wage workers per month in industry, local nominal currency',
       'Median Earnings for wage workers per month in service, local nominal currency',
       'Median Earnings for wage workers per hour,  deflated to 2011 local currency valu',
       'Real Median Hourly  Wages in USD (base 2011), PPP adjusted',
       'Median Earnings for wage workers per month, deflated to 2011 local currency valu',
       'Real Median Monthly Wages in USD (base 2011), PPP adjusted',
       'Female to Male gender wage gap, calculated with median wages',
       'Public to Private wage gap, calculated with median wages',
       ' No Education', ' Primary Education', ' Secondary Education',
       ' Post Secondary Education',
       'Mean number of years of education completed, aged 17 and older',
       'Enrollment rate for individuals aged 6-16', 'Individual age',
       'Mean age of worker between 15-64',
       'Mean age of worker in agriculture, between 15-64',
       'Mean age of worker in industry, between 15-64',
       'Mean age of worker in services, between 15-64',
       'Mean age of wage worker, between 15-64',
       'Mean age of self-employed or unpaid worker, between 15-64',
       'Mean age of employer, between 15-64', 'Total flags in survey',
       'Percentile (100 = max), total flags',
       'Flags over max number of flags',
       'Percentile (100 = max), share of flags', 'Unnamed: 103',
       'Unnamed: 104', 'Unnamed: 105', 'Unnamed: 106', 'Unnamed: 107',
       'Unnamed: 108', 'Unnamed: 109', 'Unnamed: 110', 'Unnamed: 111',
       'Unnamed: 112', 'Unnamed: 113', 'Unnamed: 114', 'Unnamed: 115',
       'Unnamed: 116', 'Unnamed: 117', 'Unnamed: 118', 'Unnamed: 119',
       'Unnamed: 120', 'Unnamed: 121', 'Unnamed: 122', 'Unnamed: 123',
       'Unnamed: 124', 'Unnamed: 125', 'Unnamed: 126', 'Unnamed: 127',
       'Unnamed: 128', 'Unnamed: 129'], dtype=object)

In [ ]:
for column_name in data.columns.values: #移除不必要的column
  if(column_name.startswith('Unnamed:')):
    data.drop(column_name,axis=1,inplace=True)

In [ ]:
data.groupby('Subsample').size() #各種取樣的資料量分布

Subsample
All               1790
Female            1671
High Education    1573
Low Education     1619
Male              1671
Old               1669
Rural             1467
Urban             1499
Young             1669
dtype: int64

In [ ]:
#僅保留全部取樣的資料
data_all = data[data['Subsample']=="All"].copy(deep=True) 
data_all.to_csv('join_database_all.csv')
#依照性別(男性、女性)取樣
data_F = data[data['Subsample']=="Female"].copy(deep=True) #僅保留女性取樣的資料
data_M = data[data['Subsample']=="Male"].copy(deep=True) #僅保留男性取樣的資料
data_Gender = pd.concat([data_F,data_M])
data_Gender.reset_index(inplace=True)
data_Gender.drop(['index'],axis=1,inplace=True)
data_Gender.to_csv('join_database_gender.csv')
#依照教育程度(高、低)取樣
data_Urban = data[data['Subsample']=="Urban"].copy(deep=True) #僅保留高教育程度取樣的資料
data_Rural = data[data['Subsample']=="Rural"].copy(deep=True) #僅保留低教育程度取樣的資料
data_Location = pd.concat([data_Urban,data_Rural])
data_Location.reset_index(inplace=True)
data_Location.drop(['index'],axis=1,inplace=True)
data_Location.to_csv('join_database_location.csv')
#依照居住地區(城市、鄉村)取樣
data_HighEDU = data[data['Subsample']=="High Education"].copy(deep=True) #僅保留城市地區取樣的資料
data_LowEDU = data[data['Subsample']=="Low Education"].copy(deep=True) #僅保留鄉村地區取樣的資料
data_EDU = pd.concat([data_HighEDU,data_LowEDU])
data_EDU.reset_index(inplace=True)
data_EDU.drop(['index'],axis=1,inplace=True)
data_EDU.to_csv('join_database_education.csv')

In [ ]:
data_Gender

,Country Name,Country Code,Region Code,Subsample,Income Level Name,Income Level Code,Year of survey,Survey Data Source,Survey Type,Total population,...,"Mean age of worker in agriculture, between 15-64","Mean age of worker in industry, between 15-64","Mean age of worker in services, between 15-64","Mean age of wage worker, between 15-64","Mean age of self-employed or unpaid worker, between 15-64","Mean age of employer, between 15-64",Total flags in survey,"Percentile (100 = max), total flags",Flags over max number of flags,"Percentile (100 = max), share of flags"
0,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2009,BGR_2009_I2D2_EUROSILC.dta,I2D2,3925271,...,43.66,41.66,41.69,41.53,45.06,41.85,58.0,46.0,0.05,41.0
1,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2010,BGR_2010_I2D2_EUROSILC.dta,I2D2,3904399,...,44.92,42.01,42.13,41.96,45.88,42.98,57.0,45.0,0.05,39.0
2,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2011,BGR_2011_I2D2_EUROSILC.dta,I2D2,3883330,...,45.98,42.16,42.28,42.23,45.06,45.30,50.0,34.0,0.04,32.0
3,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2012,BGR_2012_I2D2_EUROSILC.dta,I2D2,3770787,...,44.73,42.49,43.03,42.83,45.73,43.11,55.0,42.0,0.05,39.0
4,Bulgaria,BGR,ECS,Female,Upper middle income,UMC,2013,BGR_2013_I2D2_EUROSILC.dta,I2D2,3731765,...,45.64,42.81,43.00,42.92,45.20,45.68,54.0,40.0,0.05,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,South Africa,ZAF,SSF,Male,Upper middle income,UMC,2018,zaf_2018_qlfs_v01_m_v06_a_gld_all.dta,qlfs,27688056,...,38.05,38.65,38.84,38.16,40.04,43.29,30.0,8.0,0.02,4.0
3338,South Africa,ZAF,SSF,Male,Upper middle income,UMC,2019,zaf_2019_qlfs_v01_m_v06_a_gld_all.dta,qlfs,28051696,...,38.38,39.00,39.04,38.42,40.30,43.19,30.0,8.0,0.02,4.0
3339,South Africa,ZAF,SSF,Male,Upper middle income,UMC,2020,zaf_2020_qlfs_v02_m_v05_a_gld_all.dta,qlfs,28415249,...,39.26,39.57,39.41,38.94,40.40,43.25,38.0,18.0,0.03,12.0
3340,Zambia,ZMB,SSF,Male,Lower middle income,LMC,2015,zmb_2015_lcms-vii_v01_m_v04_a_gmd.dta,lcms-,7490127,...,35.80,35.77,36.18,36.06,36.13,38.86,18.0,3.0,0.02,2.0
3341,Zimbabwe,ZWE,SSF,Male,Low income,LIC,2017,zwe_2017_pices_v01_m_v01_a_gmd.dta,pices,6239494,...,33.18,36.12,36.48,35.30,33.80,46.39,60.0,48.0,0.06,50.0